/* ------- NAVBAR ------ */

.logo {
  height: 8rem;
}

.main-nav-list {
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feffe9;

  /* sticking the header */
  height: 9.8rem;
  padding: 0 2.4rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #ab6f31;
}

.navbar-link.navbar-cta:link,
.navbar-link.navbar-cta:visited {
  padding: 1.2rem 3.2rem;
  border-radius: 10px;
  background-color: #76945a;
  color: #fff;
  padding: 1.2rem 2.4rem;
}

.navbar-link.navbar-cta:hover,
.navbar-link.navbar-cta:active {
  background-color: #657f4d;
}

/* ------- NAVBAR END ------ */

/* ------- HERO ------ */

.section-hero {
  background-color: #feffe9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 135rem;
  margin: 0 auto;
  align-items: center;
  gap: 8rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

/* text */

.hero-text {
  padding-top: 2.4rem;
}

.h1 {
  font-size: 5.2rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  color: #324026;
  font-weight: 800;
  margin-bottom: 2.4rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: -0.2px;
  margin-bottom: 6.4rem;
  font-weight: 600;
}

/* customer satisfaction */

.satisfied-customer {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.customer-icons {
  display: flex;
}

.customer-icons img {
  width: 4.4rem;
  height: rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 3px solid #feffe9;
}

.customer-icons img:last-child {
  margin: 0;
}

.satisfied-text {
  font-size: 1.6rem;
  color: #000;
}

.satisfied-text span {
  color: #ab6f31;
  font-weight: 700;
}

/* ------- HERO END ------ */

/* ------- FEATURED ------ */

.section-featured {
  padding: 4.8rem 0 2.4rem 0;
}

.heading-featured {
  font-size: 1.6rem;
  font-weight: 700;
  color: #546a40;
  text-transform: uppercase;
  text-spacing: 0.8px;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos img {
  height: 15rem;
}

/* ------- FEATURED END ------ */

.section-getting-started {
  padding: 9.6rem 0;
  gap: 9rem;
}

.step-img {
  display: flex;
  align-self: center;
  justify-self: center;
  position: relative;
}

.step-number {
  font-size: 8.6rem;
  color: #bbb;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.step-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: 30rem;
  border-radius: 50%;
  background-color: #e4f8ba;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* ------- GETIING STARTED END ------ */

/* ------- OUR MENU ------ */

.section-menu {
  padding: 9.6rem 0;
}

.menu-img {
  width: 100%;
}

.menu {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 5%;
  overflow: hidden;
}

.menu:hover {
  transform: translateY(-0.8rem);
  transition: all 0.4s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.menu-content {
  padding: 3.2rem;
}

.menu-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 6px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 7px;
  font-weight: 700;
}

.tag--flexitarian {
  background-color: #c0eb75;
}

.tag--mediterranean {
  background-color: #ffe066;
}

.tag--vegetarian {
  background-color: #74b816;
}

.tag--vegan {
  background-color: #51cf66;
}

.menu-name {
  font-size: 2.4rem;
  color: #324026;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.menu-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.menu-icon {
  font-size: 2.4rem;
  color: #ab6f31;
}

.diets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diets > h3 {
  margin-bottom: 2.4rem;
}
.all-menus {
  text-align: center;
  font-size: 1.8rem;
}

/* ------- OUR MENU END ------ */

/* ------- TESTIMONIALS ------ */
.section-testimonials {
  background-color: #feffe9;
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.7s;
}

.gallery-img:hover {
  transform: scale(1.2);
}

.gallery-item {
  overflow: hidden;
}
/* ------- TESTIMONIALS END ------ */

/* ------- PRICING ------ */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 5%;
  padding: 2.4rem;
}

.pricing-plan--complete {
  background-color: #feffe9;
  border: 2px solid #ab6f31;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 4%;
  right: -10%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: #eec25c;
  color: #333;
  padding: 0.8rem 3.2rem;
  transform: rotate(45deg);
}

.pricing-plan--less {
  border: 2px solid #cbe5b3;
}

.pricing-plan ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #ab6f31;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #324026;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.6rem;
  font-weight: 700;
}

.plan-text {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #6f6f6f;
}

.plan-sign-up {
  margin-top: 6.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-icon {
  color: #76945a;
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
  background-color: #e4f8ba;
  padding: 1.2rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2rem;
  color: #324026;
  font-weight: 800;
  margin-bottom: 2rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
}
/* ------- PRICING END------ */

/* ------- CTA ------ */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* background-color: #86aa66; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.4rem;

  background-image: linear-gradient(to right bottom, #86aa66, #86aa66);
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(158, 187, 133, 0.25),
      rgba(134, 170, 102, 0.25)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #28331f;
}

.cta .h2 {
  color: #364429;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #feffe9;
  color: #364429;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(254, 255, 233, 0.4);
}
/* ------- CTA END------ */

/* ------- FOOTER ------ */
.footer {
  padding: 12.8rem 0;
  border: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 1.8rem;
}

.copyright {
  font-size: 1.2rem;
  color: #5e7747;
  line-height: 1.7;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #5e7747;
}

.contact-link:hover,
.contact-link:active {
  text-decoration: none;
  font-size: 1.4rem;
  color: #5e7747;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts p:nth-child(2) {
  margin-top: 2.4rem;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.nav-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #5e7747;
}

.footer-link:hover,
.footer-link:active {
  color: #435533;
  border-bottom: 1px dotted #5e7747;
}

.socmed-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  font-size: 2.4rem;
}

.socmed-link:link,
.socmed-link:visited {
  color: #5e7747;
}

.socmed-link:hover,
.socmed-link:active {
  color: #435533;
}

/* ------- FOOTER END ------ */
