/* ------- NAVBAR ------ */

.logo {
  height: 8rem;
}

.main-nav-list {
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feffe9;

  /* sticking the header */
  height: 9.8rem;
  padding: 0 3.2rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #ab6f31;
}

.navbar-link.navbar-cta:link,
.navbar-link.navbar-cta:visited {
  padding: 1.2rem 3.2rem;
  border-radius: 10px;
  background-color: #76945a;
  color: #fff;
  padding: 1.2rem 2.4rem;
}

.navbar-link.navbar-cta:hover,
.navbar-link.navbar-cta:active {
  background-color: #657f4d;
}

/* ------- NAVBAR END ------ */

/* ------- HERO ------ */

.section-hero {
  background-color: #feffe9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 135rem;
  margin: 0 auto;
  align-items: center;
  gap: 8rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

/* text */

.hero-text {
  padding-top: 2.4rem;
}

.h1 {
  font-size: 5.2rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  color: #324026;
  font-weight: 800;
  margin-bottom: 2.4rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: -0.2px;
  margin-bottom: 6.4rem;
  font-weight: 600;
}

/* customer satisfaction */

.satisfied-customer {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.customer-icons {
  display: flex;
}

.customer-icons img {
  width: 4.4rem;
  height: rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 3px solid #feffe9;
}

.customer-icons img:last-child {
  margin: 0;
}

.satisfied-text {
  font-size: 1.6rem;
  color: #000;
}

.satisfied-text span {
  color: #ab6f31;
  font-weight: 700;
}

/* ------- HERO END ------ */

/* ------- FEATURED ------ */

.section-featured {
  padding: 4.8rem 0 2.4rem 0;
}

.heading-featured {
  font-size: 1.6rem;
  font-weight: 700;
  color: #546a40;
  text-transform: uppercase;
  text-spacing: 0.8px;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos img {
  height: 15rem;
}

/* ------- FEATURED END ------ */

.section-getting-started {
  padding: 9.6rem 0;
  gap: 9rem;
}

.step-img {
  display: flex;
  align-self: center;
  justify-self: center;
  position: relative;
}

.step-number {
  font-size: 8.6rem;
  color: #bbb;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.step-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: 30rem;
  border-radius: 50%;
  background-color: #e4f8ba;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* ------- GETIING STARTED END ------ */

/* ------- OUR MENU ------ */

.section-menu {
  padding: 9.6rem 0;
}

.menu-img {
  width: 100%;
}

.menu {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 5%;
  overflow: hidden;
}

.menu:hover {
  transform: translateY(-0.8rem);
  transition: all 0.4s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.menu-content {
  padding: 3.2rem;
}

.menu-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 6px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 7px;
  font-weight: 700;
}

.tag--flexitarian {
  background-color: #c0eb75;
}

.tag--mediterranean {
  background-color: #ffe066;
}

.tag--vegetarian {
  background-color: #74b816;
}

.tag--vegan {
  background-color: #51cf66;
}

.menu-name {
  font-size: 2.4rem;
  color: #324026;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.menu-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.menu-icon {
  font-size: 2.4rem;
  color: #ab6f31;
}

.diets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.diet-icon {
  font-size: 2.4rem;
  color: #76945a;
}

.diet-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diets > h3 {
  margin-bottom: 2.4rem;
}
.all-menus {
  text-align: center;
  font-size: 1.8rem;
}

/* ------- OUR MENU END ------ */
